table {
  font-size: 16px;
  line-height: 20px;
}

table tr td:nth-child(3) {
  font-weight: bold;
}

:host ::ng-deep kendo-window-titlebar {
  background-color: teal;
}

/* .list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
} */

tr {
  padding: 0.75rem 1.25rem;
}

img {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  max-width: 100%;
  height: auto;
}

:host ::ng-deep kendo-window-titlebar {
  background-color: white;
  color: teal;
}

.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

.list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  margin-bottom: -1px;
  background-color: #fff;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 5px;
}

kendo-card {
  border: none;
}
