.danger {
  /* box-shadow: 0 0 3px #cc0000; */
  border-left: 8px solid red;
}

.success {
  box-shadow: 0 0 3px rgba(66, 169, 72);
  border: 1px solid rgba(66, 169, 72);
  border-left: 8px solid rgba(66, 169, 72);
}

.alert {
  color: red;
}

form {
  padding: 15px;
}

/* kendo-textbox,
kendo-datepicker {
  border-color: teal;
} */

.submitBtn {
  text-align: center;
  padding-top: 15px;
}

button {
  background-color: #ff9e14;
  color: white;
}

button:hover {
  background-color: #bb6d00;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

kendo-formfield {
  margin-bottom: 10px;
}

:host ::ng-deep kendo-window-titlebar {
  background-color: white;
  color: teal;
}

/* :host ::ng-deep kendo-datepicker,
.k-numerictextbox,
kendo-dropdownlist,
.k-dropdown-wrap,
kendo-fileselect {
  background-color: rgb(0, 163, 163);
  border-radius: 2px;
}

kendo-textbox {
  border-color: rgb(0, 163, 163);
}

:host ::ng-deep .k-button.k-upload-button {
  border-color: rgb(0, 163, 163);
}

:host ::ng-deep .k-button.k-upload-button:hover {
  background-color: rgb(0, 163, 163);
  color: white;
} */
