<div class="k-overlay"></div>

<kendo-window
  [width]="width"
  [height]="height"
  [minWidth]="minWidth"
  [minHeight]="minHeight"
  [title]="title"
  (close)="close.emit($event)"
>
  <form
    class="k-form"
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    *ngIf="employee"
  >
    <div class="image-cropper">
      <img src="data:image/png;base64,{{ employee.empImg }}" class="empImg" />
    </div>
    <!-- Employee ID -->
    <kendo-formfield>
      <!-- <kendo-label [for]="employeeId" text="ID"></kendo-label> -->
      <kendo-textbox
        formControlName="id"
        [clearButton]="true"
        #employeeId
        disabled="true"
        required
        [(ngModel)]="employee.id"
      ></kendo-textbox>
    </kendo-formfield>
    <!----------------->
    <!-- First name -->
    <kendo-formfield>
      <!-- <kendo-label [for]="employeeFirstName" text="First Name"></kendo-label> -->
      <kendo-textbox
        formControlName="empFname"
        [clearButton]="true"
        #employeeFirstName
        placeholder="Enter employee first name"
        [ngClass]="{
          danger: f.empFname.invalid && f.empFname.dirty,
          success: f.empFname.valid && f.empFname.dirty
        }"
        [(ngModel)]="employee.empFname"
        [showSuccessIcon]="f.empFname.valid && f.empFname.dirty"
        showErrorIcon="initial"
      ></kendo-textbox>

      <div
        *ngIf="f.empFname.invalid && (f.empFname.dirty || f.empFname.touched)"
        class="alert"
      >
        <div *ngIf="f.empFname.errors?.required">First name is required.</div>
        <div *ngIf="f.empFname.errors?.pattern">Alphabets only.</div>
      </div>
    </kendo-formfield>
    <!----------------->
    <!-- Last name -->
    <kendo-formfield>
      <!-- <kendo-label [for]="employeeLastName" text="Last Name"></kendo-label> -->
      <kendo-textbox
        formControlName="empLname"
        [clearButton]="true"
        #employeeLastName
        placeholder="Enter employee last name"
        [ngClass]="{
          danger: f.empLname.invalid && f.empLname.dirty,
          success: f.empLname.valid && f.empLname.dirty
        }"
        [(ngModel)]="employee.empLname"
        [showSuccessIcon]="f.empLname.valid && f.empLname.dirty"
        showErrorIcon="initial"
      ></kendo-textbox>

      <div
        *ngIf="f.empLname.invalid && (f.empLname.dirty || f.empLname.touched)"
        class="alert"
      >
        <div *ngIf="f.empLname.errors?.required">Last name is required.</div>
        <div *ngIf="f.empLname.errors?.pattern">Alphabets only.</div>
      </div>
    </kendo-formfield>
    <!----------------->
    <!-- Date of birth -->
    <kendo-formfield>
      <!-- <kendo-label [for]="DateOfBirth" text="Date Of Birth"></kendo-label> -->
      <kendo-datepicker
        #DateOfBirth
        formControlName="empDOB"
        [format]="'dd/MMM/yyyy'"
      ></kendo-datepicker>
    </kendo-formfield>
    <!----------------->
    <!-- Salary -->
    <kendo-formfield>
      <!-- <kendo-label [for]="employeeSalary" text="Salary"></kendo-label> -->
      <kendo-numerictextbox
        formControlName="empSal"
        #employeeSalary
        [min]="0"
        placeholder="Enter employee salary"
        [ngClass]="{
          danger: f.empSal.invalid && f.empSal.dirty,
          success: f.empSal.valid && f.empSal.dirty
        }"
        [(ngModel)]="employee.empSal"
      ></kendo-numerictextbox>

      <div
        *ngIf="f.empSal.invalid && (f.empSal.dirty || f.empSal.touched)"
        class="alert"
      >
        <div *ngIf="f.empSal.errors?.required">Salary is required.</div>
      </div>
    </kendo-formfield>
    <!----------------->
    <!-- Deparment name -->
    <kendo-formfield>
      <!-- <kendo-label
        [for]="employeeDepartment"
        text="Department Name"
      ></kendo-label> -->
      <kendo-dropdownlist
        #employeeDepartment
        formControlName="deptID"
        [data]="departmentList"
        [defaultItem]="{ text: 'Select Department', value: null }"
        [textField]="'text'"
        [valueField]="'value'"
        [valuePrimitive]="true"
        [ngClass]="{
          danger: f.deptID.invalid && f.deptID.dirty,
          success: f.deptID.valid && f.deptID.dirty
        }"
        [(ngModel)]="employee.deptID"
      >
      </kendo-dropdownlist>
      <div
        *ngIf="f.deptID.invalid && (f.deptID.dirty || f.deptID.touched)"
        class="alert"
      >
        <div *ngIf="f.deptID.errors?.required">
          Department name is required.
        </div>
      </div>
    </kendo-formfield>
    <!----------------->
    <!-- Image file upload -->
    <kendo-formfield>
      <kendo-fileselect
        #employeeImage
        formControlName="empImg"
        [restrictions]="FileTypeRestrictions"
        [multiple]="false"
        [ngClass]="{
          danger: f.empImg.invalid && f.empImg.dirty,
          success: f.empImg.valid && f.empImg.dirty
        }"
        [(ngModel)]="employee.empImg"
      >
        <kendo-fileselect-messages
          [select]="'Select file'"
          [dropFilesHere]="'Drop your image file here'"
        >
        </kendo-fileselect-messages>
      </kendo-fileselect>
      <div
        *ngIf="f.empImg.invalid && (f.empImg.dirty || f.empImg.touched)"
        class="alert"
      >
        <div *ngIf="f.empImg.errors?.required">Image is required.</div>
      </div>
    </kendo-formfield>

    <div class="submitBtn">
      <button kendoButton>Update</button>
    </div>
  </form>
</kendo-window>
