.danger {
  /* box-shadow: 0 0 3px #cc0000; */
  border-left: 8px solid red;
}

.success {
  box-shadow: 0 0 3px rgba(66, 169, 72);
  border: 1px solid rgba(66, 169, 72);
  border-left: 8px solid rgba(66, 169, 72);
}

.alert {
  color: red;
}

form {
  padding: 15px;
}

.submitBtn {
  text-align: center;
  padding-top: 15px;
}

button {
  background-color: #ff9e14;
  color: white;
}

button:hover {
  background-color: #bb6d00;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
  border: 1px solid rgb(226, 218, 218);
  margin-top: 5px;
}

.empImg {
  width: 100px;
  height: 100px;
}

.inputBox {
  padding-left: 10px;
  padding-right: 10px;
}

kendo-formfield {
  margin-bottom: 10px;
}

kendo-fileselect {
  margin-top: 28px;
}

:host ::ng-deep kendo-window-titlebar {
  background-color: white;
  color: teal;
}

.image-cropper {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

img {
  display: inline;
  margin: 0 auto;
  height: 100%;
  width: auto;
}
